%body
  .row
    .col-md-12
      .widget
        %header.widget-header
          %h4.widget-title.pull-left New Commodity
          %span.pull-right
        %hr.widget-separator/
        .widget-body
          = render 'form'
      / .widget
