<h1>Hello <%= @recipient_email %>,</h1>

<p>
  <b><%= @sender.first_name ? @sender.first_name : @sender.email  %></b> has invited you to be an administrator of
  the <%= @app.name %> dashboard on Commodity Live.
</p>

<p>To accept this invitation, go to <%= link_to accept_invitation_url(@token), accept_invitation_url(@token) %></p>