- version = version.nil? ? 0 : version
- if version.zero?
  %a.btn-state.official.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "javascript:void(0)"}
    = mode
- else
  %a.btn.btn-outline.btn-default.p-xs.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown"}
    = mode
    %b.caret
%ul.dropdown-menu.dropdown-menu-right.dropdown-publishing
  %li.dropdown-header
    Publishing of the data
  %li.divider.m-0
  %li{ class: mode == "Public" ? "selected" : "" }
    %strong.public Public
    %small
      This information will be publicly available and published under
      = succeed "." do
        %a{:href => "http://choosealicense.com/licenses/cc-by-4.0/", :target => "_blank"}
          "Creative Commons Attribution 4.0
          International Public License"
  %li{ class: mode == "Official" ? "selected" : "" }
    %strong.official Official
    %small Approved data by the actual maker of commodity
  %li{ class: mode == "Private" ? "selected" : "" }
    %strong.private Private
    %small This information will only be visible to yourself and other users in your app/team.