<h1>Specification Details</h1>
<p><%= "#{@specification.property}: #{@specification.value}#{@specification.uom}" %></p>
<%= link_to "Edit", edit_app_commodity_specification_path(@app, @commodity, @specification) %>