- title "Commodity Live Pricing"

%main#app-main.app-main
  .container
    .wrap
      %section.app-content
        .row
          .col-md-10.col-md-offset-1
            .text-center
              %h2.heading Pricing
              %p.m-b-xl We offer a simple set of plans based on number of API calls. Choose the plan that works for you.
        .row
          .col-md-10.col-md-offset-1
            .row.no-gutter
              / price column
              .col-sm-3
                .box.price-box
                  .box-head.text-center.p-lg
                    Free
                  .box-body.text-center.p-h-lg
                    %ul
                      %li
                        %strong> 50 GB
                        Storage
                      %li
                        %strong> 1 Free
                        Domain Name
                      %li
                        %strong> 5
                        One-Click Apps
                      %li
                        %strong> 25
                        Datebases
                      %li
                        %strong> 24/7
                        Support
                      %li
                        %strong> Money Back
                        Guarntee
                  .box-footer.p-lg
                    %a.btn.btn-secondary.rounded{:href => "", :role => "button"} Sign me up!
              / END price-column
              / price column
              .col-sm-3
                .box.price-box
                  .box-head.text-center.p-lg
                    Standard
                  .box-body.text-center.p-h-lg
                    %ul
                      %li
                        %strong> 50 GB
                        Storage
                      %li
                        %strong> 1 Free
                        Domain Name
                      %li
                        %strong> 5
                        One-Click Apps
                      %li
                        %strong> 25
                        Datebases
                      %li
                        %strong> 24/7
                        Support
                      %li
                        %strong> Money Back
                        Guarntee
                  .box-footer.p-lg
                    %h4.box-title.m-t-0.m-b-lg
                      %sup> $
                      99
                      %small.text-muted.fz-sm / year
                    %a.btn.btn-secondary.rounded{:href => "", :role => "button"} Sign me up!
              / END price-column
              / price column
              .col-sm-3
                .box.price-box.price-box-best
                  .box-head.text-center.p-lg
                    Professional
                    %span Most Popular
                  .box-body.text-center.p-h-lg
                    %ul
                      %li
                        %strong> 50 GB
                        Storage
                      %li
                        %strong> 1 Free
                        Domain Name
                      %li
                        %strong> 5
                        One-Click Apps
                      %li
                        %strong> 25
                        Datebases
                      %li
                        %strong> 24/7
                        Support
                      %li
                        %strong> Money Back
                        Guarntee
                  .box-footer.p-lg
                    %h4.box-title.m-t-0.m-b-lg
                      %sup> $
                      999
                      %small.text-muted.fz-sm / year
                    %a.btn.btn-primary.rounded{:href => "", :role => "button"} Sign me up!
              / END price-column
              / price column
              .col-sm-3
                .box.price-box
                  .box-head.text-center.p-lg
                    Enterprise
                  .box-body.text-center.p-h-lg
                    %ul
                      %li
                        %strong> 50 GB
                        Storage
                      %li
                        %strong> 1 Free
                        Domain Name
                      %li
                        %strong> 5
                        One-Click Apps
                      %li
                        %strong> 25
                        Datebases
                      %li
                        %strong> 24/7
                        Support
                      %li
                        %strong> Money Back
                        Guarntee
                  .box-footer.p-lg
                    %a.btn.btn-secondary.rounded{:href => "", :role => "button"} Get a Quote
              / END price-column
      / .app-content
    / .wrap
