.list.hide
  .table-responsive.box.p-t-md
    %table.table.table-striped.no-cellborder.dataTable{:cellspacing => "0", :width => "100%"}
      %thead
        %tr
          %th= t('barcodes.barcode')
          %th= t('barcodes.name')
          %th= t('barcodes.content')
          %th
      %tbody
        = render partial: 'barcodes/list', collection: barcodes, as: :barcode
