<tr>
  <td><%= link_to packaging.name, [@app,@commodity_reference, packaging] %></td>
  <td><%= packaging.quantity  %></td>
  <td><%= packaging.uom %></td>
  <td><%= packaging.visibility_status %></td>
</tr>