#modalAddClassification.modal.fade{:role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header.b-0
        %h3.widget-title.m-b-0 Add
        = link_to "#", class: "modal-close", data: { dismiss: "modal" } do
          %i.fa.fa-times
      .modal-body
        .list-group.widget-add
          = link_to new_app_classification_level_path(@app, @classification), class: "list-group-item" do
            Level
            %span.btn-add.icon.icon-circle.icon-md
              %i.fa.fa-plus
          = link_to "#", class: "list-group-item" do
            Requirement
            %span.btn-add.icon.icon-circle.icon-md
              %i.fa.fa-plus
          = link_to "#", class: "list-group-item" do
            Commodity
            %span.btn-add.icon.icon-circle.icon-md
              %i.fa.fa-plus
