%h5.search-meta.text-muted Narrow your search to:

%ul
  %li
    .checkbox.checkbox-primary.checkbox-inline
      %input#cb-01{:type => "checkbox"}/
      %label{:for => "cb-01"} Commodity
  %li
    .checkbox.checkbox-primary.checkbox-inline
      %input#cb-02{:type => "checkbox"}/
      %label{:for => "cb-02"} Brand
  %li
    .checkbox.checkbox-primary.checkbox-inline
      %input#cb-03{:type => "checkbox"}/
      %label{:for => "cb-03"} Standard
  %li
    .checkbox.checkbox-primary.checkbox-inline
      %input#cb-04{:type => "checkbox"}/
      %label{:for => "cb-04"} Classification
%ul.m-t-md
  %li
    %h4 Publishing of the data
  %li
    .checkbox.checkbox-primary.checkbox-inline
      %input#cb-05{:checked => "checked", :type => "checkbox"}/
      %label{:for => "cb-05"} Public
  %li
    .checkbox.checkbox-primary.checkbox-inline
      %input#cb-06{:checked => "checked", :type => "checkbox"}/
      %label{:for => "cb-06"} Official
  %li
    .checkbox.checkbox-primary.checkbox-inline
      %input#cb-07{:checked => "checked", :type => "checkbox"}/
      %label{:for => "cb-07"} Private
