<h1>Measurements <small><%= link_to "Add", new_app_measurement_path(@app) %></small></h1>

<% if @measurements.any? %>
    <%= render @measurements %>
<% else %>
    <p>No measurements found</p>
<% end %>