<h1>Measurement Details</h1>
<p><%= "#{@measurement.property}: #{@measurement.value}#{@measurement.uom}" %></p>
<%= link_to "Edit", edit_app_commodity_measurement_path(@app, @commodity, @measurement) %>