<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <header class="widget-header">
        <h4 class="widget-title pull-left">Create App</h4>
        <span class="pull-right"></span>
      </header>
      <hr class="widget-separator"/>
      <div class="widget-body">
        <%= render 'form' %>
      </div>
    </div><!-- .widget -->
  </div>
</div>