<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <header class="widget-header">
        <h4 class="widget-title pull-left"><%= @app.name %></h4>
        <span class="pull-right"><%= link_to "Edit App", edit_app_path(@app) %></span>
      </header>
      <hr class="widget-separator"/>
      <div class="widget-body">
        <%= @app.description %>
      </div>
    </div><!-- .widget -->
  </div>
</div>