<p>Source Commodity: <%= reference.source_commodity.short_description %></p>
<p>Kind: <%= reference.kind %></p>
<p>Target Commodity: <%= reference.target_commodity.short_description %></p>
<p><%= link_to "View", [@app,reference] %></p>
<hr>