#tab-6.tab-pane.fade{ role: "tabpanel" }
  .row
    .col-md-12
      %h4.segment-name Classifications
  .table-responsive.box.p-t-md
    %table.table.table-striped.no-cellborder.dataTable{ cellspacing: 0}
      %thead
        %tr
          %th Code
          %th #
          %th Name
          %th
      %tbody
