<p><b>Short Description:</b> <%= commodity.short_description %></p>
<p><b>Long Description:</b> <%= commodity.long_description %></p>
<p><%= link_to "View", [@app, commodity] %> | <%= link_to "Edit", edit_app_commodity_path(@app,commodity) %></p>
<br>