<div class="media">
  <div class="media-body">
    <h4 class="media-heading"><%= link_to commodity.short_description, [@app, commodity], class: "search-result" %></h4>
    <%= commodity.long_description %>
  </div>
</div>