#tab-3.tab-pane.fade{ role: "tabpanel" }
  .row
    .col-md-12
      %h4.segment-name Standards
  .table-responsive.box.p-t-md
    %table.table.table-striped.no-cellborder.dataTable{ cellspacing: 0}
      %thead
        %tr
          %th Name
          %th Description
          %th
      %tbody
        = render @standards