%tr.segment.segment-edit
  %td
    = link_to standard.name, [@app, standard]
  %td
    %span.fz-sm= standard.description
  %td.segment-actions
    %span.hidden 2
    %a.btn-edit{:href => "#"}
      %i.fa.fa-pencil
      Edit
    .segment-state.dropdown.inline-block
      = render 'shared/pubmode', mode: standard.visibility_status