#tab-0.tab-pane.in.active.fade{:role => "tabpanel"}
  .row
    .col-md-12
      %h4.segment-name Summary
  .box.segment-edit
    .row.no-gutter
      .row-height
        .col-sm-6.col-md-8.col-height.brand-summary
          %article.p-md
            %p= @standard.description
        .col-sm-6.col-md-4.col-height
          .brand-info.p-md
            - if @standard.certifier_url.present?
              = link_to @standard.certifier_url, class: "m-b-sm", target: "_blank" do
                Official Website
                %i.fa.fa-external-link.fz-sm{"aria-hidden" => "true"}

    .segment-actions
      - if user_signed_in?
        = link_to edit_brand_standard_path(@brand), class: "btn-edit" do
          %i.fa.fa-pencil
          Edit
      .segment-state.dropdown.inline-block
        = render 'shared/pubmode', mode: @standard.visibility_status
