- tabs = %w(Summary Brands Products)

%ul.nav.nav-tabs.box.m-0{:role => "tablist"}
  - tabs.each_with_index do |tab, index|
    %li{:role => "presentation", class: index.zero? ? "active" : "" }
      = link_to tab, "#tab-#{index}", data: { toggle: "tab" }, aria: { controls: "tab-#{index}"}, role: "tab"
